In [17]:
import pandas as pd

In [18]:
pdf1 = pd.read_csv('DBassign1/2016-GHG_Emissions.csv')
pdf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 27 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Account Number                                  187 non-null    int64
 1   City Name                                       187 non-null    object
 2   Country                                         187 non-null    object
 3   City Short Name                                 187 non-null    object
 4   C40                                             54 non-null     object
 5   Reporting Year                                  187 non-null    int64
 6   Measurement Year                                187 non-null    object
 7   Boundary                                        187 non-null    object
 8   Primary Methodology                             187 non-null    object
 9   Methodology Details                             133 non-null    object
 10  Gases included                                  181 non-null    object
 11  Total City-wide Emissions (metric tonnes CO2e)  187 non-null    float64
 12  Total Scope 1 Emissions (metric tonnes CO2e)    134 non-null    float64
 13  Total Scope 2 Emissions (metric tonnes CO2e)    132 non-null    float64
 14  Increase/Decrease from last year                166 non-null    object
 15  Reason for increase/decrease in emissions       144 non-null    object
 16  Current Population Year                         187 non-null    int64
 17  Current Population                              185 non-null    float64
 18  City GDP                                        130 non-null    float64
 19  GDP Currency                                    123 non-null    object
 20  Year of GDP                                     137 non-null    float64
 21  GDP Source                                      130 non-null    object
 22  Average annual temperature (in Celsius)​        177 non-null    float64
 23  ​Land area (in square km)                       184 non-null    float64
 24  Average altitude (m)                            168 non-null    float64
 25  City Location                                   187 non-null    object
 26  Country Location                                187 non-null    object
dtypes: float64(9), int64(3), object(15)
memory usage: 39.6+ KB

In [19]:
pdf4 = pd.read_csv('DBassign1/2017-Community_Emissions.csv')
pdf4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int64
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          217 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
dtypes: float64(8), int64(4), object(19)
memory usage: 55.6+ KB

In [20]:
pdf2 = pd.read_csv('DBassign1/2016-Cities.csv')
pdf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 15 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Organisation                             280 non-null    object
 1   Account No                               280 non-null    int64
 2   Country                                  280 non-null    object
 3   City Short Name                          280 non-null    object
 4   C40                                      83 non-null     object
 5   Reporting Year                           280 non-null    int64
 6   Sector                                   268 non-null    object
 7   Target boundary                          222 non-null    object
 8   Baseline year                            275 non-null    object
 9   Baseline emissions (metric tonnes CO2e)  262 non-null    float64
 10  Percentage reduction target              280 non-null    float64
 11  Target date                              270 non-null    float64
 12  Comment                                  138 non-null    object
 13  City Location                            280 non-null    object
 14  Country Location                         280 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 32.9+ KB

In [21]:
pdf3 = pd.read_csv('DBassign1/2017-Cities_Emission_Reduction_Targets.csv')
pdf3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 21 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Account No                                                                          406 non-null    int64
 1   Organisation                                                                        406 non-null    object
 2   City                                                                                404 non-null    object
 3   Country                                                                             404 non-null    object
 4   Region                                                                              404 non-null    object
 5   Access                                                                              406 non-null    object
 6   C40                                                                                 94 non-null     object
 7   Reporting year                                                                      406 non-null    int64
 8   Type of target                                                                      406 non-null    object
 9   Sector                                                                              298 non-null    object
 10  Baseline year                                                                       372 non-null    object
 11  Baseline emissions (metric tonnes CO2e)                                             274 non-null    float64
 12  Percentage reduction target                                                         332 non-null    float64
 13  Target date                                                                         350 non-null    object
 14  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  31 non-null     float64
 15  ​Intensity unit (emissions per)                                                     23 non-null     object
 16  Comment                                                                             140 non-null    object
 17  Population                                                                          404 non-null    float64
 18  Population Year                                                                     404 non-null    float64
 19  City Location                                                                       404 non-null    object
 20  Country Location                                                                    404 non-null    object
dtypes: float64(5), int64(2), object(14)
memory usage: 66.7+ KB

In [22]:
pdf5 = pd.read_csv('DBassign1/2023-Cities_Climate_Risk.csv')
pdf5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 20 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Questionnaire                                                     1370 non-null   object
 1   Organization Number                                               1370 non-null   int64
 2   Organization Name                                                 1370 non-null   object
 3   City                                                              931 non-null    object
 4   Country/Area                                                      1370 non-null   object
 5   CDP Region                                                        1370 non-null   object
 6   C40 City                                                          1370 non-null   bool
 7   GCoM City                                                         1370 non-null   bool
 8   Access                                                            1370 non-null   object
 9   Assessment attachment and/or direct link                          1333 non-null   object
 10  Confirm attachment/link provided                                  1370 non-null   object
 11  Boundary of assessment relative to jurisdiction boundary          1358 non-null   object
 12  Year of publication or approval                                   1344 non-null   float64
 13  Factors considered in assessment                                  1319 non-null   object
 14  Primary author(s) of assessment                                   1320 non-null   object
 15  Does the city have adaptation goal(s) and/or an adaptation plan?  1370 non-null   object
 16  Population                                                        1370 non-null   int64
 17  Population Year                                                   1362 non-null   float64
 18  City Location                                                     800 non-null    object
 19  Last update                                                       1370 non-null   object
dtypes: bool(2), float64(2), int64(2), object(14)
memory usage: 195.5+ KB

In [23]:
# Assuming df1, df2, df3, df4, df5 are your DataFrames
cols_df1 = set(pdf1.columns)
cols_df2 = set(pdf2.columns)
cols_df3 = set(pdf3.columns)
cols_df4 = set(pdf4.columns)
cols_df5 = set(pdf5.columns)

common_cols = cols_df1.intersection(cols_df2, cols_df3, cols_df4, cols_df5)
common_cols

{'City Location'}

In [24]:
unique_df1 = cols_df1.difference(cols_df2.union(cols_df3, cols_df4, cols_df5))
unique_df1

{'Account Number',
 'Average altitude (m)',
 'City GDP',
 'City Name',
 'Current Population',
 'Current Population Year',
 'Measurement Year',
 'Methodology Details',
 'Primary Methodology',
 'Total City-wide Emissions (metric tonnes CO2e)',
 'Year of GDP'}

In [25]:
cols_df1
# cols_df2
# cols_df3
# cols_df4
# cols_df5

{'Account Number',
 'Average altitude (m)',
 'Average annual temperature (in Celsius)\u200b',
 'Boundary',
 'C40',
 'City GDP',
 'City Location',
 'City Name',
 'City Short Name',
 'Country',
 'Country Location',
 'Current Population',
 'Current Population Year',
 'GDP Currency',
 'GDP Source',
 'Gases included',
 'Increase/Decrease from last year',
 'Measurement Year',
 'Methodology Details',
 'Primary Methodology',
 'Reason for increase/decrease in emissions',
 'Reporting Year',
 'Total City-wide Emissions (metric tonnes CO2e)',
 'Total Scope 1 Emissions (metric tonnes CO2e)',
 'Total Scope 2 Emissions (metric tonnes CO2e)',
 'Year of GDP',
 '\u200bLand area (in square km)'}

In [26]:
pdf1.head(1)

,Account Number,City Name,Country,City Short Name,C40,Reporting Year,Measurement Year,Boundary,Primary Methodology,Methodology Details,...,Current Population,City GDP,GDP Currency,Year of GDP,GDP Source,Average annual temperature (in Celsius)​,​Land area (in square km),Average altitude (m),City Location,Country Location
0,35894,Ville de Montreal,Canada,Montreal,NaN,2016,12/31/2009 12:00:00 AM,Other: The regional entity that constitutes th...,2006 IPCC Guidelines for National Greenhouse G...,2006 IPCC Guidelines for National Greenhouse G...,...,1886481.0,1.201180e+11,CAD Canadian Dollar,2014.0,"Ville de Montréal, Montréal en statistiques, h...",6.8,500.0,17.0,"(45.5086699, -73.5539925)","(56.130366, -106.346771)"

In [27]:
pdf2.head(1)

,Organisation,Account No,Country,City Short Name,C40,Reporting Year,Sector,Target boundary,Baseline year,Baseline emissions (metric tonnes CO2e),Percentage reduction target,Target date,Comment,City Location,Country Location
0,Odder Kommune,58796,Denmark,Odder Kommune,NaN,2016,Total,NaN,2010,6136.0,2.0,NaN,NaN,"(55.975718, 10.149958)","(56.26392, 9.501785)"

In [28]:
pdf3.head(1)

,Account No,Organisation,City,Country,Region,Access,C40,Reporting year,Type of target,Sector,...,Baseline emissions (metric tonnes CO2e),Percentage reduction target,Target date,Estimated business as usual absolute emissions in target year (metric tonnes CO2e),​Intensity unit (emissions per),Comment,Population,Population Year,City Location,Country Location
0,54408,Aarhus Kommune,Aarhus,Denmark,Europe,Public,NaN,2017,Absolute target,NaN,...,NaN,100.0,2030,NaN,NaN,NaN,336000.0,2017.0,"(56.168393, 10.137373)","(56.26392, 9.501785)"

In [29]:
pdf4.head(1)

,Account number,Organization,City,Country,Region,C40,Access,Reporting year,Accounting year,Boundary,...,Population year,GDP,GDP Currency,GDP Year,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location
0,49363,Nelson Mandela Bay Municipality,Nelson Mandela Bay,South Africa,Africa,NaN,Public,2017,2013-07-01 - 2014-06-30,A metropolitan area,...,2011,52147.0,ZAR South African Rand,2010.0,Built Environment Performance Plan(BEPP),17.5,69.0,1950.0,"(-33.745241, 25.568108)","(-30.559482, 22.937506)"

In [30]:
pdf5.head(1)

,Questionnaire,Organization Number,Organization Name,City,Country/Area,CDP Region,C40 City,GCoM City,Access,Assessment attachment and/or direct link,Confirm attachment/link provided,Boundary of assessment relative to jurisdiction boundary,Year of publication or approval,Factors considered in assessment,Primary author(s) of assessment,Does the city have adaptation goal(s) and/or an adaptation plan?,Population,Population Year,City Location,Last update
0,Cities 2023,840926,Prefeitura de Serra Talhada,NaN,Brazil,Latin America,False,True,public,https://drive.google.com/file/d/19DMxxK532IQSL...,The assessment can be accessed (unrestricted) ...,Same - covers entire jurisdiction and nothing ...,2022.0,Assessment considers vulnerable populations; A...,Dedicated team within jurisdiction; Relevant d...,Adaptation goal(s) and adaptation plan,92228,2023.0,NaN,02/07/2024 04:14:16 AM

In [31]:
pdf5['Organization Name'].nunique()

741

In [33]:
pdf4['Scopes Included '].unique()

array(['Total Scope 1, Scope 2 and Waste Scope 3 (Total BASIC emissions)',
       'Total Scope 1 and Scope 2'], dtype=object)