In [1]:
import pandas as pd

In [6]:
## To show all columns and values in the columns

data = pd.read_csv('DBassign1/2017-Cities_Emission_Reduction_Targets.csv')
df = pd.DataFrame(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 21 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Account No                                                                          406 non-null    int64
 1   Organisation                                                                        406 non-null    object
 2   City                                                                                404 non-null    object
 3   Country                                                                             404 non-null    object
 4   Region                                                                              404 non-null    object
 5   Access                                                                              406 non-null    object
 6   C40                                                                                 94 non-null     object
 7   Reporting year                                                                      406 non-null    int64
 8   Type of target                                                                      406 non-null    object
 9   Sector                                                                              298 non-null    object
 10  Baseline year                                                                       372 non-null    object
 11  Baseline emissions (metric tonnes CO2e)                                             274 non-null    float64
 12  Percentage reduction target                                                         332 non-null    float64
 13  Target date                                                                         350 non-null    object
 14  Estimated business as usual absolute emissions in target year (metric tonnes CO2e)  31 non-null     float64
 15  ​Intensity unit (emissions per)                                                     23 non-null     object
 16  Comment                                                                             140 non-null    object
 17  Population                                                                          404 non-null    float64
 18  Population Year                                                                     404 non-null    float64
 19  City Location                                                                       404 non-null    object
 20  Country Location                                                                    404 non-null    object
dtypes: float64(5), int64(2), object(14)
memory usage: 66.7+ KB

In [10]:
## To print all column names to be used later down
 
for col in data.columns:
    print(col)

Account No
Organisation
City
Country
Region
Access
C40
Reporting year
Type of target
Sector
Baseline year
Baseline emissions (metric tonnes CO2e)
Percentage reduction target
Target date
Estimated business as usual absolute emissions in target year (metric tonnes CO2e)
​Intensity unit (emissions per)
Comment
Population
Population Year
City Location
Country Location

In [20]:
## To get unique values for the different columns - USE: change the value between "" to something above

df["C40"].unique()

array([nan, 'C40'], dtype=object)

In [22]:
## Check if there are null values in a column

contains_null = df['City'].isnull().any()
if contains_null:
    print("The column contains null values.")
else:
    print("The column does not contain any null values.")

The column contains null values.

In [53]:
# Create a mask where the column is null
null_mask = df['City'].isnull()

# Use the mask to filter the DataFrame, showing only rows where the column is null
rows_with_null = df[null_mask]

# Display these rows
# print(rows_with_null)
print(rows_with_null[['Account No', 'Organisation', 'City', 'Country']])

     Account No                               Organisation City Country
201       58871                          City of Salem, MA  NaN     NaN
290       50359  Gobierno Municipal de León de los Aldamas  NaN     NaN

In [48]:
## Remove the above 2 rows from the df and save it to dfClean
dfClean = df.drop([201, 290])

# Define your conditions
condition1 = (df["Account No"] == 58871)
condition2 = (df["Account No"] == 50359)
# Apply conditions using the | operator
filtered_df = df[condition1 | condition2]
# Display the filtered DataFrame
print(filtered_df['Account No'])


print("----- split, above is df and below is dfClean -----")

# Define your conditions
condition1 = (dfClean["Account No"] == 58871)
condition2 = (dfClean["Account No"] == 50359)

# Apply conditions using the | operator
filtered_dfClean = dfClean[condition1 | condition2]

# Display the filtered DataFrame
print(filtered_dfClean)

201    58871
290    50359
Name: Account No, dtype: int64
----- split, above is df and below is dfClean -----
Empty DataFrame
Columns: [Account No, Organisation, City, Country, Region, Access, C40, Reporting year, Type of target, Sector, Baseline year, Baseline emissions (metric tonnes CO2e), Percentage reduction target, Target date, Estimated business as usual absolute emissions in target year (metric tonnes CO2e), ​Intensity unit (emissions per), Comment, Population, Population Year, City Location, Country Location]
Index: []

[0 rows x 21 columns]

In [12]:
## CHATGPT generated - to check if Account No and Organisation is a one to one relationship

# Assuming df is your DataFrame
# Replace 'df' with the variable name of your DataFrame

# Check uniqueness from Account No to Organisation
account_to_org = df.groupby('Account No')['Organisation'].nunique()
org_to_account = df.groupby('Organisation')['Account No'].nunique()

# Check if all accounts map to exactly one organisation and vice versa
is_one_to_one_account_to_org = all(account_to_org == 1)
is_one_to_one_org_to_account = all(org_to_account == 1)

# Print results
print("One-to-one relationship from Account No to Organisation:", is_one_to_one_account_to_org)
print("One-to-one relationship from Organisation to Account No:", is_one_to_one_org_to_account)

# To identify if there are any specific accounts or organisations that do not follow this pattern:
if not is_one_to_one_account_to_org:
    print("Accounts mapping to multiple organisations:", account_to_org[account_to_org > 1])

if not is_one_to_one_org_to_account:
    print("Organisations mapping to multiple accounts:", org_to_account[org_to_account > 1])

One-to-one relationship from Account No to Organisation: True
One-to-one relationship from Organisation to Account No: True